.Body {
    background-image: url('../../resources/vaporwave-body.png');
    height: 160vw;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 86vw;
    max-width: 86vw;
    margin-top: 0vw;
    margin-left: 14vw;
    padding-top: 6vw;
    margin-bottom: 8vw;
}