.Body {
    width: 86vw;
    margin-top: -4vw;
    margin-left: 14vw;
}

.welcome-section {
    display: flex;
    margin-top: 10vw;
}

.monitor {
    margin-left: -5vw;
    height: 30vw;
    width: 50vw;
}

.inside-monitor {
    margin-left: -31vw;
    margin-top: 4vw;
    margin-right: 20vw;
}

h1 {
    font-family: 'VT323';
    color: #ffffff;
    font-size: 4.5vw;
}